form{
    max-width:600px;
    margin:20px auto;
}

form input,
form select,
form textarea{

    width:100%;

    padding:12px;

    margin-bottom:15px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

}

button{

    padding:12px 24px;

    cursor:pointer;

}