table{

width:100%;

border-collapse:collapse;

background:white;

margin-top:20px;

box-shadow:var(--shadow);

}

th{

background:#2563eb;

color:white;

padding:15px;

}

td{

padding:15px;

border-bottom:1px solid #eee;

}

tr:hover{

background:#f5f7fa;

}